<!doctype html>
<html lang="en">
    {% load static %}

  <head>
    <title>AIPIF &mdash; {% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style type="stylesheet">{% block css %}{% endblock %}</style>

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="/" class="font-weight-bold">
                  <img src="{% static 'images/logo.png' %}" alt="Image" class="img-fluid">
                </a>
              </div>
            </div>

            <div class="col-9  text-right">
              

              <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>

              

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li class="active"><a href="/" class="nav-link">Home</a></li>
                  <li><a href="/about" class="nav-link">AboutUs</a></li>
                  <li><a href="/notification" class="nav-link">Notifications</a></li>
                  <li><a href="/media" class="nav-link">Media</a></li>
                  <li><a href="/gallery" class="nav-link">Gallery</a></li>
                  <li><a href="/publication" class="nav-link">Publications</a></li>
                </ul>
              </nav>
            </div>

            
          </div>
        </div>

      </header>
      {% block body %}   {% endblock %}
      <footer class="site-footer bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <h2 class="footer-heading mb-3">Images</h2>
              <div class="row">
                <div class="col-4 gal_col">
                  <img src="{% static 'images/insta_1.jpg' %}" alt="Image" class="img-fluid"></a>
                </div>
                <div class="col-4 gal_col">
                  <img src="{% static 'images/insta_2.jpg' %}" alt="Image" class="img-fluid"></a>
                </div>
                <div class="col-4 gal_col">
                  <img src="{% static 'images/insta_3.jpg' %}" alt="Image" class="img-fluid"></a>
                </div>
                <div class="col-4 gal_col">
                  <img src="{% static 'images/insta_4.jpg' %}" alt="Image" class="img-fluid"></a>
                </div>
                <div class="col-4 gal_col">
                  <img src="{% static 'images/insta_5.jpg' %}" alt="Image" class="img-fluid"></a>
                </div>
                <div class="col-4 gal_col">
                  <img src="{% static 'images/insta_6.jpg' %}" alt="Image" class="img-fluid"></a>
                </div>
              </div>
            </div>
            <div class="col-lg-8 ml-auto">
              <div class="row">
                <div class="col-lg-6 ml-auto">
                  <h2 class="footer-heading mb-4">Quick Links</h2>
                  <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Publications</a></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <h2 class="footer-heading mb-4">Newsletter</h2>
                  <p>AIPIF is a non-political, moral, ethical, and purely humanitarian
                    organization serving humanity by spreading the message of
                    love, brotherhood, and human values among humankind
                    irrespective of caste, creed, or religion with the sole purpose of
                    connecting person-to-person and heart-to-heart.</p>
                  <form action="#" class="d-flex" class="subscribe">
                    <input type="text" class="form-control mr-3" placeholder="Email">
                    <input type="submit" value="Send" class="btn btn-primary">
                  </form>
                </div>
                
              </div>
            </div>
          </div>
          <div class="row pt-2 mt-1 text-center">
            <div class="col-md-12">
              <div class="border-top pt-5">
                <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Site is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://shuzan.in/" target="_blank" >Shuzan Technology</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
              </div>
            </div>
  
          </div>
        </div>
      </footer>
  
      </div>
  
      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'js/jquery.sticky.js' %}"></script>
      <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
      <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
      <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
      <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
      <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
      <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
      <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
      <script src="{% static 'js/aos.js' %}"></script>

      <script src="{% static 'js/main.js' %}"></script>
      <script>
        {% block js %} {% endblock %}
      </script>
  
    </body>
  
  </html>
  
  